<div>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @role } %>
</div>

  <%= form_tag [:admin, @role], :method => method, :class =>"form-horizontal" do %>
    <div class="form-group">
      <label for="role[name]" class="col-xs-6 col-md-4">
        <%= Spree.t(:name) %>
      </label>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <%= text_field_tag 'role[name]', @role.name, :id => "role[name]", :class =>"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label  class="col-xs-6 col-md-4 control-label"><%= Spree.t(:permissions) %>:</ttlabel>
      <% @permissions.each do |permission| %>
        <div class="col-xs-12 col-sm-6 col-md-8">
        <% if @role.has_permission?(permission.title) %>
          <span class='permission-check-box'><%= check_box_tag 'role[permission_ids][]', permission.id, true %> <%= permission.title.gsub('-',' ').titleize %></span>
        <% else %>
          <span class='permission-check-box'><%= check_box_tag 'role[permission_ids][]', permission.id %> <%= permission.title.gsub('-',' ').titleize %></span>
        <% end %>
        </div>
      <% end %>
  <% end %>

<div class="form-actions" data-hook="buttons">
  <%= button Spree.t('actions.update'), 'refresh', 'submit', {class: 'btn-success'} %>
</div>